# ignore the full version of the training video
pro-gan_training_video_smaller.mp4

# also ignore the trained model weights
GAN_GEN_SHADOW_8.pth

# ignore some huge videos:
interpolation.mp4
video_2.gif
video_3.gif

# ignore the new latent_space interpolation video
new_interp.mp4

frames_pro/
frames_mine/
M_GAN_GEN_SHADOW_8.pth
